<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UAV Export and Regulation Interface</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <a href="/" class="topbar-home">Home</a>
            {% if is_admin %}
                <div class="topbar-save-left">
                    <button id="saveChangesBtn" type="button" {% if not changesMade %}disabled{% endif %}>
                        Save Changes
                    </button>

                    {% if changesMade %}
                        <span class="unsaved-warning">
                            ⚠ Changes will be lost unless you save!
                        </span>
                    {% endif %}
                    <div class="info-tooltip">
                        ⓘ
                        <div class="tooltip-text">
                            Changes are only saved locally on the server.
                            <br><br>
                            The server restarts when you leave, and your changes will be lost.
                            <br><br>
                            Click "Save Changes" to store them permanently.
                            <br><br>
                            Saving will trigger a server redeploy.
                            <br><br>
                            During this time (up to ~5 minutes), the site will remain accessible, but any new changes made may not be saved.
                            <br><br>
                            Its recomended to save once you are finished with all your edits
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="topbar-logo">
                <img src="/static/etcLogo.png" alt="Logo">
            </div>

            <div class="topbar-right">
                <form action="{{ url_for('search') }}" method="get" class="topbar-search">
                    <input
                        type="text"
                        name="keyword"
                        placeholder="Search..."
                        required
                    >
                    <button type="submit">Search</button>
                </form>

                <div class="topbar-admin">
                    {% if is_admin %}
                        <a href="{{ url_for('admin_logout') }}">Admin Logout</a>
                    {% else %}
                        <a href="{{ url_for('admin_login') }}">Admin Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>UAV Export and Regulation Interface</h1>
        <p>Select a region to explore its regulations, testing, and certifications.</p>

        <div class="card-grid">
            {% for key, region in regions.items() %}
                <a class="card" href="{{ url_for('region_page', region_key=key) }}">
                    <h2>{{ region.name }}</h2>
                    <p>Open region</p>
                </a>
            {% endfor %}
        </div>

    {% if is_admin %}
    <hr>
    
    <h2>Add New Region</h2>
    
    <form id="addRegionForm" action="/addNewRegion">
        
        <div>
            <label>Name</label><br>
            <input type="text" name="region-name" id="region-name" required>
        </div>

        <div>
            <label>Slug</label><br>
            <input type="text" name="region-slug" id="region-slug" required>
        </div>

        <div>
            <label for="add-default-topics">
                Add default topics
                <input type="checkbox" id="add-default-topics" name="add_default_topics" value="true" checked>
                <p>* Adds Radio Frequency, EMC, Reliability/Airworthyness, & Cybersecurity to the new region</p>
            </label>
        </div>
        <button type="submit">Add Region</button>
    </form>
    {% endif %}
    </div>
    <script>
        // Turns the name into slug
        function nameToSlug(name) {
            return name.toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '')  // replace spaces & invalid chars with remove leading/trailing -
        }

        // Whenever name is changed, update the slug
        document.getElementById('region-name').addEventListener('input', ()=> {
            document.getElementById('region-slug').value = nameToSlug(document.getElementById('region-name').value)
        })

        const addRegionForm = document.getElementById('addRegionForm')

        addRegionForm.addEventListener("submit", async function (event) {
            event.preventDefault()
            try {
                const formData = new FormData(addRegionForm)
                const jsonData = JSON.stringify(Object.fromEntries(formData.entries()))

                console.log('jsonData')
                console.log(jsonData)
                const response = await fetch(addRegionForm.action, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                if (!response.ok) {
                    throw new Error("Request failed")
                }
                const data = await response.json()
                if (data['success']) {
                    alert("Region Created!")
                    addRegionForm.reset()
                    location.reload()
                } else {
                    throw new Error("Bad server response")
                }
            } catch (error) {
                console.error("Error submitting form:", error)
                alert("Error submitting form")
            }
        })
        const saveChangesBtn = document.getElementById("saveChangesBtn")

        if (saveChangesBtn) {
            saveChangesBtn.addEventListener("click", async () => {
                if (!confirm("Save changes to GitHub - This will cause the render server to restart. You will still be able to view the website but anychanges made in the next 5 minutes or so may be lost")) return

                saveChangesBtn.disabled = true
                saveChangesBtn.textContent = "Saving..."
                document.body.style.cursor = "wait"

                const response = await fetch("/admin/pushChanges", { method: "POST" })
                try {
                    const data = await response.json()

                    if (data.success) {
                        alert("Changes saved! Any Edits made in the next 5 minutes or so may be lost")
                        location.reload()
                    } else {
                        alert("Failed to save changes.")
                    }
                } catch (error) {
                        alert("Failed to save changes.")
                }   finally {
                    document.body.style.cursor = "default"
                    saveChangesBtn.disabled = false
                    saveChangesBtn.textContent = "Save Changes"
                }
            })
        }
    </script>
</body>
</html>