<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ region.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <a href="/" class="topbar-home">Home</a>
            {% if is_admin %}
                <div class="topbar-save-left">
                    <button id="saveChangesBtn" type="button" {% if not changesMade %}disabled{% endif %}>
                        Save Changes
                    </button>

                    {% if changesMade %}
                        <span class="unsaved-warning">
                            ⚠ Changes will be lost unless you save!
                        </span>
                    {% endif %}
                    <div class="info-tooltip">
                        ⓘ
                        <div class="tooltip-text">
                            Changes are only saved locally on the server.
                            <br><br>
                            The server restarts when you leave, and your changes will be lost.
                            <br><br>
                            Click "Save Changes" to store them permanently.
                            <br><br>
                            Saving will trigger a server redeploy.
                            <br><br>
                            During this time (up to ~5 minutes), the site will remain accessible, but any new changes made may not be saved.
                            <br><br>
                            Its recomended to save once you are finished with all your edits
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="topbar-logo">
                <img src="/static/etcLogo.png" alt="Logo">
            </div>

            <div class="topbar-right">
                <form action="{{ url_for('search') }}" method="get" class="topbar-search">
                    <input
                        type="text"
                        name="keyword"
                        placeholder="Search..."
                        required
                    >
                    <button type="submit">Search</button>
                </form>

                <div class="topbar-admin">
                    {% if is_admin %}
                        <a href="{{ url_for('admin_logout') }}">Admin Logout</a>
                    {% else %}
                        <a href="{{ url_for('admin_login') }}">Admin Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="back-link" href="{{ url_for('home') }}">← Back to Home</a>

        <h1>{{ region.name }}</h1>

        {% if is_admin %} 
            <b>Admin Controls: </b>
            <input 
                value="Delete Region" 
                type="button" 
                id="deleteRegionButton"
                data-region-key="{{ region_key }}"
            >
            <input 
                value="Edit Region" 
                type="button" 
                id="editRegionButton"
            >
            <form id="editRegionForm" action="/editRegion" hidden>
                <input type="hidden" name="region_key" value="{{ region_key }}">

                <div>
                    <label>New Region Name</label><br>
                    <input type="text" name="newRegionName" value='{{ region["name"] }}' required>
                </div>

                <button type="submit">Apply Edits!</button>
            </form>

            <hr>
            <b>Topics:</b>
        {% endif %}
        <p>Select a topic.</p>

        <div class="card-grid">
            {% for topic_key, topic in region.topics.items() %}
                <a class="card" href="{{ url_for('topic_page', region_key=region_key, topic_key=topic_key) }}">
                    <h2>{{ topic.title }}</h2>
                    <p>{{ topic.description }}</p>
                </a>
            {% endfor %}
        </div>
        {% if is_admin %}
        <hr>
        
        <h2>Add New Topic</h2>
        
        <form id="addTopicForm" action="/addNewTopic">
            <!-- Hidden context fields -->
            <input type="hidden" name="region" value="{{ region['name'] }}">
            <input type="hidden" name="region_key" value="{{ region_key }}">
            
            <div>
                <label>Name</label><br>
                <input type="text" name="topic-name" id="topic-name" required>
            </div>

            <div>
                <label>Slug</label><br>
                <input type="text" name="topic-slug" id="topic-slug" required>
            </div>

            <div>
                <label>Summary</label><br>
                <textarea name="topic_summary" rows="3" required></textarea>
            </div>

            <div>
                <label for="add-default-categories">
                    Add default categories
                    <input type="checkbox" id="add-default-categories" name="add_default_categories" value="true" checked>
                    <p>* Adds Regulations, Testing, and Certifications to the new topic</p>
                </label>
            </div>
            <button type="submit">Add topic</button>
        </form>
        {% endif %}
    </div>
    
    <script>
        // Turns the name into slug
        function nameToSlug(name) {
            return name.toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '')  // replace spaces & invalid chars with remove leading/trailing -
        }

        // Whenever name is changed, update the slug
        document.getElementById('topic-name').addEventListener('input', ()=> {
            document.getElementById('topic-slug').value = nameToSlug(document.getElementById('topic-name').value)
        })

        const addTopicForm = document.getElementById('addTopicForm')

        addTopicForm.addEventListener("submit", async function (event) {
            event.preventDefault()
            try {
                const formData = new FormData(addTopicForm)
                const jsonData = JSON.stringify(Object.fromEntries(formData.entries()))

                console.log('jsonData')
                console.log(jsonData)
                const response = await fetch(addTopicForm.action, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                if (!response.ok) {
                    throw new Error("Request failed")
                }
                const data = await response.json()
                if (data['success']) {
                    alert("Topic Created!")
                    addTopicForm.reset()
                    location.reload()
                } else {
                    throw new Error("Bad server response")
                }
            } catch (error) {
                console.error("Error submitting form:", error)
                alert("Error submitting form")
            }
        })

        async function deleteRegion(regionKey) {
            const requestData = {
                regionKey: regionKey
            }
            try {
                const jsonData = JSON.stringify(requestData)
                const response = await fetch('/deleteRegion', {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                })
                if (!response.ok) {
                    throw new Error("Request failed")
                }
                const data = await response.json()
                if (data['success']) {
                    alert("Region Deleted")

                    const backButton = document.querySelector('.back-link')
                    window.location.href = backButton.href
                } else {
                    throw new Error("Got Back Success = False :(")
                }
            } catch (error) {
                alert('WAS NOT SUCCESSFUL')
            }
        }

        const deleteRegionButton = document.getElementById('deleteRegionButton')
        deleteRegionButton.addEventListener('click', () =>{
            const regionKey = event.currentTarget.dataset.regionKey
            if (confirm("Are you sure you want to delete the region & all topics. This can't be undone")) {
                deleteRegion(regionKey)
            }
        })

        const editRegionForm = document.getElementById('editRegionForm')
        const editRegionButton = document.getElementById('editRegionButton')
        editRegionButton.addEventListener('click', () => {
            if (editRegionForm.style.display === 'none' || editRegionForm.style.display === '') {
                editRegionForm.style.display = 'block'
            } else {
                editRegionForm.style.display = 'none'
            }
        })

        editRegionForm.addEventListener("submit", async function (event) {
            event.preventDefault()
            try {
                const formData = new FormData(editRegionForm)
                const jsonData = JSON.stringify(Object.fromEntries(formData.entries()))

                const response = await fetch(editRegionForm.action, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: jsonData
                })
                if (!response.ok) {
                    throw new Error("Request failed")
                }
                const data = await response.json()
                if (data['success']) {
                    alert("Region Edited!")
                    location.reload()
                } else {
                    throw new Error("Got Back Success = False :(")
                }
            } catch (error) {
                console.error("Error submitting form:", error)
                alert("Error Editing form")
            }
        })

        const saveChangesBtn = document.getElementById("saveChangesBtn")

        if (saveChangesBtn) {
            saveChangesBtn.addEventListener("click", async () => {
                if (!confirm("Save changes to GitHub - This will cause the render server to restart. You will still be able to view the website but anychanges made in the next 5 minutes or so may be lost")) return

                saveChangesBtn.disabled = true
                saveChangesBtn.textContent = "Saving..."
                document.body.style.cursor = "wait"

                const response = await fetch("/admin/pushChanges", { method: "POST" })
                try {
                    const data = await response.json()

                    if (data.success) {
                        alert("Changes saved! Any Edits made in the next 5 minutes or so may be lost")
                        location.reload()
                    } else {
                        alert("Failed to save changes.")
                    }
                } catch (error) {
                        alert("Failed to save changes.")
                }   finally {
                    document.body.style.cursor = "default"
                    saveChangesBtn.disabled = false
                    saveChangesBtn.textContent = "Save Changes"
                }
            })
        }
    </script>
</body>
</html>