<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ topic.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="topbar">
        <a href="/" class="topbar-home">Home</a>

        <div class="topbar-logo">
            <img src="/static/etcLogo.png" alt="Logo">
        </div>

        <form action="{{ url_for('search') }}" method="get" class="topbar-search">
            <input
                type="text"
                name="keyword"
                placeholder="Search..."
                required
            >
            <button type="submit">Search</button>
        </form>

        <div>
            {% if is_admin %}
                <a href="{{ url_for('admin_logout') }}">Admin Logout</a>
            {% else %}
                <a href="{{ url_for('admin_login') }}">Admin Login</a>
            {% endif %}
        </div>
    </div>
    <div class="container">
        <a class="back-link" href="{{ url_for('region_page', region_key=region_key) }}">
            ← Back to {{ region.name }}
        </a>

        <h1>{{ region.name }} - {{ topic.title }}</h1>
        <p>{{ topic.description }}</p>

        <div class="card-grid">
            {% if topic.get("categories") %}
                {% for category_key, category in topic.categories.items() %}
                    <a class="card" href="{{ url_for('category_page', region_key=region_key, topic_key=topic_key, category_key=category_key) }}">
                        <h2>{{ category.title }}</h2>
                        <p>View details</p>
                    </a>
                {% endfor %}
            {% else %}
                <div class="item-list">
                    <p>No categories listed yet.</p>
                </div>
            {% endif %}
        </div>
        {% if is_admin %}
        <hr>
        
        <h2>Add New Category</h2>
        
        <form id="addCategoryForm" action="/addNewCategory">
            <!-- Hidden context fields -->
            <input type="hidden" name="region" value="{{ region['name'] }}">
            <input type="hidden" name="region_key" value="{{ region_key }}">
            <input type="hidden" name="topic_key" value="{{ topic_key }}">
            
            <div>
                <label>Name</label><br>
                <input type="text" name="category-name" id="category-name" required>
            </div>

            <div>
                <label>Slug</label><br>
                <input type="text" name="category-slug" id="category-slug" required>
            </div>

            <div>
                <label>Summary</label><br>
                <textarea name="category_summary" rows="3" required></textarea>
            </div>

            <br>
            <button type="submit">Add category</button>
        </form>
        {% endif %}
    </div>
    <script>
        // Turns the name into slug
        function nameToSlug(name) {
            return name.toLowerCase().trim().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '')  // replace spaces & invalid chars with remove leading/trailing -
        }

        // Whenever name is changed, update the slug
        document.getElementById('category-name').addEventListener('input', ()=> {
            document.getElementById('category-slug').value = nameToSlug(document.getElementById('category-name').value)
        })

        const addCategoryForm = document.getElementById('addCategoryForm')

        addCategoryForm.addEventListener("submit", async function (event) {
            event.preventDefault()
            try {
                const formData = new FormData(addCategoryForm)
                const jsonData = JSON.stringify(Object.fromEntries(formData.entries()))

                const response = await fetch(addCategoryForm.action, {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(jsonData)
                })
                if (!response.ok) {
                    throw new Error("Request failed")
                }
                const data = await response.json()
                if (data['success']) {
                    alert("Category Created!")
                    addCategoryForm.reset()
                    location.reload()
                } else {
                    throw new Error("Bad server response")
                }
            } catch (error) {
                console.error("Error submitting form:", error)
                alert("Error submitting form")
            }
        })
    </script>
</body>
</html>